.library-cards {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

form h3 {
    margin: 0;
    margin-bottom: .3rem;
    margin-top: 1rem;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding-left: 1rem;
    margin-left: 1rem;
    padding-right: 1.3rem;
    padding-bottom: 2rem;
    background-color: #e3cd9d;
    border-radius: 1rem;
}

.submit-button {
    margin-top: 1rem;
    display: flex;
    justify-self: center;
}

.form-div {
    width: 13rem;
    display: none;
    /* position: absolute; */
}

.button-div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button-div button {
    margin: 0;
}

.book {
    background-color: #eee;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border-left: 1rem solid greenyellow;
}

.add-button {
    font-size: 1.2rem;
    background-color: azure;
    border-radius: 1rem;
    display: flex;
    justify-self: center;
    cursor: pointer;
}